<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
$webResourceManager.requireResource("com.atlassian.refapp.decorator:decorator-resources")
$webResourceManager.requireResourcesForContext("atl.general")
#parse ("templates/webpanel.vm")
<html>
    <head>
        <title>#if ($title)$titleHtml#else Welcome!#end</title>
        <link href="$!webResourceManager.getStaticPluginResource("com.atlassian.refapp.decorator:decorator-resources", "images/developer16.ico")" rel="shortcut icon"/>
        <link href="$!webResourceManager.getStaticPluginResource("com.atlassian.refapp.decorator:decorator-resources", "images/developer16.png")" type="image/png" rel="icon"/>
        $headHtml
        $webResourceIncluder.includeResources()
    </head>
    <body>
        <ul class="header-links">
        #foreach($item in $webInterfaceManager.getDisplayableItems("header.links", $context))
          <li><a id="$item.link.id" href="$item.link.getDisplayableUrl($request, $context)">$item.webLabel.getDisplayableLabel($request, $context)</a></li>
        #end
        </ul>
        <h1>
          TWData
        </h1>
        $bodyHtml
        <div class="refapp-footer" style="text-align:center">
            <hr/>
            
            #set($items = $webInterfaceManager.getDisplayableItems("twdata.footer.links", $context))
            #set($first = true)
            #foreach($item in $items)
              #if (!$first)|#end #set($first = false)
              <a id="$item.link.id" href="$item.link.getDisplayableUrl($request, $context)">$item.webLabel.getDisplayableLabel($request, $context)</a>
            #end
            #webpanels("footer.links", $context)
        </div>
    </body>
</html>
