#parse ("templates/webpanel.vm")
<html>
<head>
  <title>Welcome to the Atlassian RefApp!</title>
  <meta name="decorator" content="atl.general"/>
</head>
<body>
  <h2>Welcome to the Atlassian Kickass RefApp! $it</h2>

  <p>This application has no useful features whatsoever.  It is intended to be used as a platform for testing
    cross product Atlassian plugins.</p>

  <ul class="index-links">
  #foreach($item in $webInterfaceManager.getDisplayableItems("index.links", $context))
    <li><a id="$item.link.id" href="$item.link.getDisplayableUrl($request, $context)">$item.webLabel.getDisplayableLabel($request, $context)</a></li>
  #end
  </ul>
  <div>
      #webpanels("atl.refapp.index", $context)
  </div>

  <p>Wondering how the above links got there?  Just add a web item to your plugin:</p>

<pre>
    &lt;web-item key="myLink" section="index.links" weight="40" application="refapp"&gt;
        &lt;label key="My Link Name or I18n Key"&gt;
        &lt;link linkId="myLinkId"&gt;/relative/or/absolute/path/to/my/link&lt;/link&gt;
    &lt;/web-item&gt;
</pre>

  <p>In addition to Web Items, you can also add Web Panels to the above section, for example:</p>

<pre>
    &lt;web-panel key="myPanel" location="atl.refapp.index"&gt;
        &lt;resource name="view" type="velocity" location="/relative/or/absolute/path/to/my/panel.vm"/&gt;
    &lt;/web-panel&gt;
</pre>

  <p>Other places you can add links to include <tt>system.admin/general</tt>, <tt>header.links</tt> and
    <tt>footer.links</tt>.  You might want to log in, by default, three users are available, admin, fred and
    barney.  Their passwords are the same as their usernames.</p>

</body>
</html>
